<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-2">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="loans">

          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef class="text-center border">ID</th>
            <td mat-cell *matCellDef="let element" class="border px-2"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="Libro">
            <th mat-header-cell *matHeaderCellDef class="text-center border">Libro</th>
            <td mat-cell *matCellDef="let element" class="border px-2"> {{element.book.title}} - <b
              class="font-weight-bold">SCDD: </b>{{element.book.scdd}}</td>
          </ng-container>
          <ng-container matColumnDef="Lector">
            <th mat-header-cell *matHeaderCellDef class="text-center border">Lector</th>
            <td mat-cell *matCellDef="let element" class="border px-2"> {{element.reader.name}} </td>
          </ng-container>

          <ng-container matColumnDef="Fecha de prestamo" class=" align-content-center">
            <th mat-header-cell *matHeaderCellDef class="border text-end px-2">Fecha de prestamo</th>
            <td mat-cell *matCellDef="let element" class="border px-2 text-end">{{element.loanDate}}</td>
          </ng-container>

          <ng-container matColumnDef="Fecha para regreso">
            <th mat-header-cell *matHeaderCellDef class="border text-end px-2">Fecha de expiración del prestamo</th>
            <td mat-cell *matCellDef="let element" class="border px-2 text-end"> {{element.expiredDate}} </td>
          </ng-container>

          <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef class="text-center border">Estado</th>

            <td mat-cell *matCellDef="let element" class="border text-center">
                <span class="rounded-5 w-75 text-center px-3 text-center text-black bg-info"
                      [ngClass]="{'bg-warning':element.isActive}">
                      {{element.isActive ? 'Pendiente': 'Devuelto'}}
                </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
              (click)="rowClicked(row)"
              *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator (page)="handlePageEvent($event)"
                       [length]="totalElements"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="showFirstLastButtons"
                       [hidePageSize]="true"
                       [pageIndex]="pageIndex"
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
